rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.rol == 'admin';
    }

    match /comprobantes/{tourId}/{fileName} {
      allow read, write: if isAdmin();
    }

    match /guias/{guiaId}/documentos/{fileName} {
      allow read, write: if isAdmin();
    }

    match /configuracion/{fileName} {
      allow read, write: if isAdmin();
    }
  }
}
